ul.navbar {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  padding: 1em 0 2em 0;
}

ul.navbar li.dropdown {
  vertical-align: top;
}

ul.navbar li.dropdown a.dropbtn {
  color: #222;
}

ul.navbar li.msmb {
  padding: 0;
}

p.title {
  visibility: hidden;
}

p.author {
  visibility: hidden;
}

p.title::before {
  visibility: visible;
	position: absolute;
  content: url(https://duke.qualtrics.com/CP/Graphic.php?IM=IM_9o8QUGdTNvZp8Il);
}

p.build-date {
  visibility: hidden;
}
