# R packages needed to compile the Quarto book
# Install helper script: scripts/install_book_requirements.R

binom
BUCSS
cocor
effectsize
gert
ggplot2
gridExtra
JustifyAlpha
kableExtra
knitr
MBESS
metafor
MOTE
patchwork
puniform
pwr
pwrss
reshape2
rmarkdown
rpact
Superpower
tidyr
TOSTER
truncnorm
webexercises
zcurve
