/* edit this file to add custom styles */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.inline-figure { border: none; }
.quarto-cover-image { display: block; }

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-size: 200%;
}

a, a:link, a:visited, a:active, a:hover {
	color: #a60a0a;
}

div.hanging-indent { margin-left: -1.5em !important; }
