@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:400,400i,700,700i');

.small_right, .small_left {
  display: inline-block;
  width: 25%;
  max-width: 200px;
}
.small_right { float: right; margin: 0 0 1em 1em;}
.small_left { float: left; margin: 0 1em 1em 0;}
.small_right img, .small_left img { max-width: 100%; }


p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.inline-figure {
  border: none;
}

/* references with hanging indent */
.csl-entry {
  padding-left: 2em ;
  text-indent: -2em ;
}

@media screen and (min-width: 991px) {
  .col-lg-3.sidebar-book { flex-basis: 16.667%; max-width: 16.667%; }
  .col-lg-2.sidebar-chapter { flex-basis: 25%; max-width: 25%; }
}

@media screen and (max-width: 991px) {
  #main-nav nav {
    width: 49%;
    display: inline-block;
    vertical-align: text-top;
  }

  .book-toc {
    column-count: 1;
  }

  #content {
    flex:0 0 100%;
    -webkit-flex:0 0 100%;
    max-width:100%
  }
}
