/* Hide msmbstyle's built-in header */

ul.navbar {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
}

.navbar .msmb {
  padding: 0;
}

.title {
  display: none;
}

.author {
  display: none;
}

.build-date {
  display: none;
}


/* GHRD&G Logo */

.msmb:after {
  padding: 1em 0 1em 0;
  float: left;
  content: url(images/logo.png);
}


/* align the dropdown for chapters */

#TOC {
  max-width: 55%;
}

.navbar .dropdown .dropbtn {
  vertical-align: top;
  color: #222;
}

.dropdown-content {
  right: unset;
}
