@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:light,bold,lightitalic');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:thin,extra-light,light,regular,bold');

.kable_wrapper {
  border-spacing: 20px 0;
  border-collapse: separate;
  border: none;
  margin: auto;
}
.kable_wrapper > tbody > tr > td {
  vertical-align: top;
}
p.caption {
  color: #777;
  margin-top: 10px;
  padding: 0px 0px 40px 0px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.figure {
  margin-top: 40px;
}

li.part span {
  opacity: 1;
}

p,ul,ol {
    font-size: 1.3em;
    line-height: 1.6;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 200;
}

h3 {
    font-size: 1.8em;
    color: #1f9ac9;
}

h4 {
    font-size: 1.7em;
    font-weight: bold;
    color: #1f9ac9;
}

h5 {
    font-size: 1.5em;
    font-style: italic;
}


img {
  padding-top: 20px;
  padding-bottom: 20px;
}



blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
  display: inline;
  font-style: normal !important;
}

b, strong, blockquote {
     color: #e69138;
     }


h2 {
  color: #1f9ac9;
  border-bottom-color: #1f9ac9;
  border-bottom-style: solid;
  width: 55%;
  padding-bottom: 0.5rem;
  margin-top: 3em;
  font-weight: bold;
  font-size: 2em;
}

h6 {
  color: #6aa84f;
  border-bottom-color: #6aa84f;
  border-bottom-style: solid;
  width: 55%;
  padding-bottom: 0.5rem;
  margin-top: 2em;
  font-weight: bold;
  font-size: 2em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}



h1 {
  color: #1f9ac9;
  width: 55%;
  border-bottom-color: #1f9ac9;
  border-bottom-style: solid;
  padding-bottom: 0.5rem;
  padding-top: 2.5rem;
  font-size: 3em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}


ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1f9ac9;
    top: 0;
}

.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #efeded
}

