/*-- scss:defaults --*/
$link-color: #a60a0a;
$code-color: #bb8acf;

/*-- scss:rules --*/
.dark-mode,
.dark-light .cell-output-display figure,
.dark-light .cell-output-display img
{ display: block; }

.light-mode,
.dark-light .cell-output-display + .cell-output-display figure ,
.dark-light .cell-output-display + .cell-output-display img
{ display: none; }

a.glossary, a:visited.glossary {
  color: #a60a0a !important;
}

.terminal {
  border-color: #324C63;
}

