/*-- scss:defaults --*/
$link-color: #a60a0a;
$body-color: #1c1717;
$body-bg: #fffafa;


/*-- scss:rules --*/
.dark-mode,
.dark-light .cell-output-display figure,
.dark-light .cell-output-display img
{ display: none; }

.light-mode,
.dark-light .cell-output-display + .cell-output-display figure ,
.dark-light .cell-output-display + .cell-output-display img
{ display: block; }

a.glossary, a:visited.glossary {
  color: #a60a0a !important;
}

.terminal {
  border-color: #D6DADC;
}
