:root {
  --pink: #983E82;   /* hsl(315, 42%, 42%) */
  --orange: #E2A458; /* hsl( 33, 70%, 62%) */
  --yellow: #F5DC70; /* hsl( 49, 87%, 70%) */
  --green: #59935B;  /* hsl(122, 25%, 46%) */
  --blue: #467AAC;   /* hsl(209, 42%, 47%) */
  --purple: #61589C; /* hsl(248, 28%, 48%) */
}

.webex-check {}

.webex-box {
  border: 2px solid darkred;
  padding: 0.5em 0.25em;
  margin: 1em 0;
  border-radius: .25em;
  background-color: rgba(127, 127, 127, 0.05);
}

.webex-total_correct {
  margin-left: 1em;
}

.unchecked .webex-total_correct {
  display: none;
}

.unchecked .webex-incorrect,
.unchecked .webex-correct {
  border: 2px dotted grey !important;
  background-color: white !important;
}

.unchecked .webex-incorrect span::before,
.unchecked .webex-incorrect + .webex-icon::after,
.unchecked .webex-correct span::before,
.unchecked .webex-correct + .webex-icon::after {
  content: "";
}

/* styles for webex-solveme */
.webex-select, input.webex-solveme,
.unchecked .webex-radiogroup label.webex-incorrect,
.unchecked .webex-radiogroup label.webex-correct{
    border: 2px dotted grey;
    background-color: white;
    border-radius: 0.25em;
}

.webex-incorrect,
input.webex-solveme.webex-incorrect,
.webex-radiogroup label.webex-incorrect {
    border: 2px dotted var(--pink);
    background-color: #edaddd;
    color: black;
    border-radius: 0.25em;
}
.webex-correct,
input.webex-solveme.webex-correct,
.webex-radiogroup label.webex-correct {
    border: 2px solid var(--green);
    background-color: #c0edc2;
    color: black;
    border-radius: 0.25em;
}

.webex-incorrect span::before,
.webex-incorrect + .webex-icon::after {
  content: "\274C  ";
}

.webex-correct span::before,
.webex-correct + .webex-icon::after {
  content: "\2705  ";
}


/* styles for hidden solutions */
.webex-solution {
    height: 2.5em;
    overflow-y: hidden;
    padding: 0.5em;
    margin-bottom: 10px;
}
.webex-solution.open {
    height: auto;
    border: 2px solid var(--blue);
    border-radius: 5px;
}
.webex-solution button, .webex-check-button {
    height: 2em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    background-color: var(--blue);
    color: white;
    padding: 0 0.5em;
}
.webex-solution pre.sourceCode {
    border-color: var(--green);
}

.webex-radiogroup label {
  margin-left: 2em;
  text-indent: -1em;
  padding-left: 0.5em;
  font-weight: 400;
  display: block;
  border: 2px solid rgba(255, 255, 255, 0);
  background-color: inherit;
  border-radius: 0.25em;
}

.webex-radiogroup label input {
  position: relative;
  left: -1em;
}

.webex-radiogroup {
  margin-bottom: 1em;
}
