.small_right, .small_left {
  display: inline-block;
  width: 25%;
  max-width: 200px;
}
.small_right { float: right; margin: 0 0 1em 1em;}
.small_left { float: left; margin: 0 1em 1em 0;}
.small_right img, .small_left img { max-width: 100%; }


p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
